.menu {
    background-color: #DCDCDC;        
    margin-left: 5px;
    margin-top: 5px;
    height: 240px;
    width: 350px;
    padding: 40px 30px 20px 30px;
    font-size: 22px;
    color: #696969;    
}
.mainmenu {    
    position: absolute;
    top: -1px;
    height: 100vh;
    width: 362px;
    background-color: #FFFFFF;       
}
.menuelem {
    margin-top: 1px;
}