.authorizationPage {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #4070f4;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
  padding: 0 20px;
  width: 100%;
  max-width: 623px;
}
.form {
  background-color: white;
  border-radius: 20px;
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  padding: 100px;
  gap: 74px;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 22px;   
}
.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 20px; 
}
.input {
  padding: 18px 16px;
  border-radius: 10px;
  border: 1px solid hsla(210, 5%, 85%, 1);
  font-size: 18px;
}
.button {
  background-color: #4070f4;
  border-radius: 10px;
  height: 76px;
  color: white;
  font-size: 26px;    
}
.registrText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 26px;
}
