table {
    width: 100%;
    text-align: left;
  }
  .topic {
    font-size: 16px;
    color: #909399;
    margin-top: 50px; 
    border-bottom: 1pt solid #DCDCDC;
    padding-bottom: 4px;  
  }
  .listItems {
    font-size: 16px;
    color: #4070f4;   
    padding: 20px;
    width: 500px; 
  }
  .theme {
    font-size: 16px;
    padding: 20px;
    width: 500px;
  }