.mainPage {    
    width: 100%;
    min-height: 100vh;
    display: flex;    
    flex-direction: row;    
    background-color: #909399;
  }
  .item_1 {
    background-color: #4070f4;    
    color: #fff;
    font-size: 1.1em;
    padding: 1em;
    width: 120px;            
}
.item_2 {  
  color: #fff;
  font-size: 1.1em;
  padding: 1em;
  width: 380px;
  height: 100%;
}
.item_3 {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 1.1em;
  padding: 1em;
  //width: 116vh;  
  //min-width: 115.8vh;
  //min-width: 120vh;
  flex: 1;   
}
.item_4 {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 1.1em;
  padding: 1em;      
  //flex: 2;
  position: fixed;
  top: 0;
  right: 350px;
}
.image {
  width: 40px;
  height: 40px;
  margin-left: 20%;
  margin-top: 20%;
}
.imageText {
  text-align: center;
  margin-top: 10px;
}
.button {
  background-color: #4070f4;
  border-radius: 2px;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 16px;    
}
.topic {
  font-size: 16px;
  color: #909399;
  margin-top: 20px;
}
.listItems {
  font-size: 16px;
  color: #4070f4;
  margin-top: 30px;
}
.line {
  border-top: 1px solid #DCDCDC;
  margin-top: 20px;
}
.topicRequest {
  margin-top: 40px;
  font-size: 14px;
  color: rgb(96, 98, 102);
}